.result-card {
    border: 2px solid rgb(0,0,0);
    background-color: $color;
    display: flex;
    width: 400px;
    padding: 10px 0px;
    margin: 10px 0px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-around;

    button {
        padding: 7px;
        color: $color;
        background-color: rgb(0, 102, 255);
        border: none;

        &:hover {
            background-color: $primary-bg-color;
            cursor: pointer;
        }
    }
    .result-info {
        line-height: 22px;
    }
}